@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #22c55e; /* Tailwind CSS green-500 */
}

.text-primary {
  color: var(--primary-color);
}

.bg-primary {
  background-color: var(--primary-color);
}

.hero-section {
  background-size: cover;
  background-position: center;
}

.background {
  background-size: cover;
  background-position: center;
}

/* Desktop */
@media (min-width: 1024px) {
  .background {
    background-image: url('./assets/desktop-background.jpg');
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .background {
    background-image: url('./assets/tablet-background.jpg');
  }
}

/* Mobile */
@media (max-width: 767px) {
  .background {
    background-image: url('./assets/mobile-background.jpg');
  }
}

/* Scroll Animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.scroll-up-enter {
    animation: fadeIn 0.5s forwards;
}

.scroll-up-exit {
    animation: fadeOut 0.5s forwards;
}